doctype
html(lang="pt-br")
	head
		include default/header.pug
		link(rel="stylesheet" href="css/app.css" media="all")
		title Default
	body
		h1 Ola
		//- script(src="js/app.js" defer)
		script(src="//192.168.0.100:35729/livereload.js")
