@mixin appTransition($time, $property, $type: linear) {
    -moz-transition: all $time $type;
    -moz-transition-property: $property;
    -webkit-transition: all $time $type;
    -webkit-transition-property: $property;
    -o-transition: all $time $type;
    -o-transition-property: $property;
    transition: all $time $type;
    transition-property: $property;
}
@mixin boxShadow($what, $what2) {
    $box: $what, $what2;
    @if $what2==true {
        $box: none !important;
    }
    -webkit-box-shadow: $box;
    -moz-box-shadow: $box;
    box-shadow: $box;
}